alabaster==0.7.10
awsebcli==3.12.3
Babel==2.5.3
blessed==1.14.2
botocore==1.8.48
cement==2.8.2
certifi==2018.1.18
click==6.7
colorama==0.3.7
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==0.12.2
Flask-Session==0.3.1
Flask-WTF==0.14.2
imagesize==1.0.0
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
MarkupSafe==1.0
numpy==1.14.0
packaging==17.1
pandas==0.22.0
pathspec==0.5.5
psycopg2==2.7.3.2
pyaml==17.12.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.9.1
scikit-surprise==1.0.5
semantic-version==2.5.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.1
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.2.1
tabulate==0.7.5
termcolor==1.1.0
wcwidth==0.1.7
websocket-client==0.47.0
Werkzeug==0.14.1
WTForms==2.1
