alabaster==0.7.10
anaconda-client==1.6.6
anaconda-navigator==1.6.12
anaconda-project==0.8.2
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
arrow==0.12.0
asn1crypto==0.23.0
astroid==1.5.3
astropy==2.0.3
attrs==17.3.0
Automat==0.6.0
awsebcli==3.12.1
Babel==2.5.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
binaryornot==0.4.4
bitarray==0.8.1
blaze==0.11.3
bleach==2.1.1
blessed==1.14.2
bokeh==0.12.13
boto==2.48.0
botocore==1.8.34
Bottleneck==1.2.1
cement==2.8.2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
clyent==1.2.2
colorama==0.3.7
conda==4.4.2
constantly==15.1.0
contextlib2==0.5.5
cookiecutter==1.6.0
coverage==4.4.2
crab==0.5.0
cryptography==2.1.4
cssselect==1.0.1
cycler==0.10.0
Cython==0.27.3
cytoolz==0.8.2
dask==0.16.0
datashape==0.5.4
decorator==4.1.2
distributed==1.20.2
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.3.2
future==0.16.0
gevent==1.2.2
gmpy2==2.0.8
greenlet==0.4.12
h5py==2.7.1
heapdict==1.0.0
html5lib==1.0.1
hyperlink==17.1.1
hypothesis==3.38.5
idna==2.6
imageio==2.2.0
imagesize==0.7.1
incremental==17.5.0
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.11.0
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
joblib==0.11
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.2
lazy-object-proxy==1.3.1
lightfm==1.14
llvmlite==0.21.0
locket==0.2.0
lxml==4.1.1
Markdown==2.6.10
MarkupSafe==1.0
matplotlib==2.1.1
mccabe==0.6.1
mistune==0.8.1
mpmath==1.0.0
msgpack-python==0.4.8
multipledispatch==0.4.9
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.5
nose==1.3.7
notebook==5.2.2
numba==0.36.2
numexpr==2.6.4
numpy==1.13.3
numpydoc==0.7.0
odo==0.5.1
olefile==0.44
openpyxl==2.4.9
packaging==16.8
pandas==0.21.1
pandocfilters==1.4.2
parsel==1.2.0
parso==0.1.1
partd==0.3.8
path.py==10.5
pathlib2==2.3.0
pathspec==0.5.0
patsy==0.4.1
pep8==1.7.0
pexpect==4.3.0
pickleshare==0.7.4
Pillow==4.3.0
pluggy==0.6.0
ply==3.10
poyo==0.4.1
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
psutil==5.4.1
ptyprocess==0.5.2
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
PyDispatcher==2.0.5
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.7.4
Pympler==0.5
PyMySQL==0.7.11
pyodbc==4.0.21
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
pytest==3.3.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.3
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
queuelib==1.4.2
requests==2.9.1
rope==0.10.7
ruamel-yaml==0.11.14
scikit-image==0.13.0
scikit-learn==0.19.1
scikit-surprise==1.0.5
scipy==1.0.0
Scrapy==1.4.0
seaborn==0.8.1
semantic-version==2.5.0
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
spotlight==0.1.3
spyder==3.2.4
SQLAlchemy==1.1.13
statsmodels==0.8.0
sympy==1.1.1
tables==3.4.2
tabulate==0.7.5
tblib==1.3.2
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
Theano==1.0.1
toolz==0.8.2
torch==0.3.0.post4
tornado==4.5.2
traitlets==4.3.2
Twisted==17.5.0
typing==3.6.2
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.1.0
w3lib==1.18.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.46.0
Werkzeug==0.14.1
whichcraft==0.4.1
widgetsnbextension==3.0.8
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.4
xlwt==1.2.0
zict==0.1.3
zope.interface==4.4.3
